[flake8]
ignore = 
    # Actually, an anti-pattern, https://www.flake8rules.com/rules/W503.html
    W503,

    # Commented out features
    E261, E265,

    # Additional blank lines for readability
    E302,

    # Ignore lines for now
    E501
max-complexity = 10
max-line-length = 150