# Bot configuration files
*.env

# Python cache
__pycache__

# Data files
**/data/**

# JetBrains PyCharm
.idea/*

# Virtual environment
venv/*
.venv/*

# Disallow the coverage file
.coverage

# Ignore the frontend and backend for now
pidroid-api/*
pidroid-web/*