# Bot configuration files
*.env

# Python cache
__pycache__

# Data files
**/data/**

# JetBrains PyCharm
.idea/*

# Virtual environment
venv/*
.venv/*

# Disallow the coverage file
.coverage

# Ignore the frontend for now
pidroid-web/*