PREFIXES=P,TT
TOKEN=
DB_USER=pidroid
DB_PASSWORD=supersecretpassword
DB_NAME=pidroid
DB_HOST=db
TT_API_KEY=
DEEPL_API_KEY=
UNBELIEVABOAT_API_KEY=
TENOR_API_KEY=
GITHUB_APP_ID=
GITHUB_APP_PEM=
GITHUB_OWNER=
GITHUB_REPO=
