PREFIXES=
TOKEN=
MONGO_DSN=
POSTGRES_DSN=
GITHUB_TOKEN=
TT_API_KEY=
DEEPL_API_KEY=
UNBELIEVABOAT_API_KEY=
TENOR_API_KEY=
BITLY_LOGIN=
BITLY_API_KEY=
REDDIT_CLIENT_ID=
REDDIT_CLIENT_SECRET=
REDDIT_USERNAME=
REDDIT_PASSWORD=
