services:
  pidroid:
    restart: unless-stopped
    image: ghcr.io/justanyones/pidroid:latest
    volumes:
      - ./data:/app/data
    env_file:
      - config.env
    depends_on:
      db:
        condition: service_healthy
      rabbit:
        condition: service_healthy

  db:
    image: postgres:15-bullseye
    restart: unless-stopped
    env_file:
      - config.env
    environment:
      - POSTGRES_PASSWORD=postgres
    volumes:
      - ./data/db:/var/lib/postgresql/data
      - ./init-database.sh:/docker-entrypoint-initdb.d/init-database.sh
    healthcheck:
      test:
        - CMD-SHELL
        - pg_isready -d $${DB_NAME} -U $${DB_USER}
      interval: 15s
      timeout: 60s
      retries: 5
      start_period: 5s

  rabbit:
    image: rabbitmq:alpine
    restart: unless-stopped
    volumes:
      - ./data/rabbitmq:/var/lib/rabbitmq
    healthcheck:
      test:
        - CMD
        - rabbitmq-diagnostics
        - -q
        - check_running
      interval: 15s
      timeout: 10s
      retries: 5
      start_period: 5s
