git+https://github.com/Rapptz/discord.py@fd9c244f480ae12f972daf2ffe34ae83125847fe#egg=discord.py[voice]
aiofiles==0.6.0
aiocron==1.3
jishaku==2.4.0
asyncpraw==7.5.0
psutil==5.8.0
pillow==9.0.1
mcrcon==0.6.0
dill==0.3.3
lxml==4.6.5
motor==2.5.0
emoji==1.6.3
git+https://github.com/JustAnyones/bitly-api-python#egg=bitly-api
dnspython==2.1.0
pytz==2021.3
typing_extensions==4.2.0
httpx[http2]==0.23.0
sqlalchemy[asyncio]
asyncpg
