aiocron==1.8
aiodbm==0.4.2
aiofiles==23.2.1
aiohttp==3.8.5
aiosignal==1.3.1
alembic==1.11.3
anyio==3.7.1
astunparse==1.6.3
async-timeout==4.0.3
asyncpg==0.28.0
attrs==23.1.0
braceexpand==0.1.7
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
croniter==1.4.1
dill==0.3.7
discord.py==2.3.2
dnspython==2.4.2
emoji==2.8.0
frozenlist==1.4.0
greenlet==2.0.2
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.17.3
httpx==0.24.1
hyperframe==6.0.1
idna==3.4
import-expression==1.1.4
jishaku==2.5.1
line-profiler==4.1.1
lxml==4.9.3
lxml-stubs==0.4.0
Mako==1.2.4
MarkupSafe==2.1.3
multidict==6.0.4
mypy==1.5.1
mypy-extensions==1.0.0
Pillow==10.0.0
psutil==5.9.5
pycparser==2.21
PyNaCl==1.5.0
python-dateutil==2.8.2
pytz==2023.3
rfc3986==2.0.0
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.20
types-aiofiles==23.2.0.0
types-Pillow==10.0.0.2
types-psutil==5.9.5.16
types-python-dateutil==2.8.19.14
types-pytz==2023.3.0.1
typing_extensions==4.7.1
tzlocal==5.0.1
yarl==1.9.2
