discord.py[voice]==2.3.1
aiofiles==0.8.0
aiocron==1.8
jishaku==2.5.1
psutil==5.9.4
pillow==9.4.0
dill==0.3.6
lxml==4.9.2
emoji==2.2.0
dnspython==2.3.0
pytz==2022.7.1
typing_extensions==4.5.0
httpx[http2]==0.23.3
sqlalchemy[asyncio]==2.0.9
asyncpg==0.27.0
alembic==1.9.4
aiodbm==0.4.2
