{
   "prefixes": ["P", "p", "TT"],
   "authentication": {
      "bot token": "",
      "github token": "", // OAuth token used to access GitHub API for TT devs

      "database": {
         "connection string": "" // Your MongoDB connection string
      },

      "theotown api token": "Token used for communicating with secure TheoTown API. Ask JustAnyone to get one.",
      "deepl key": "", // DeepL API key

      "unbelievaboat" : {"token": ""},
      "tenor": {"token": ""},
      "bitly": {"login": "", "api key": ""},
      "reddit": {
         "client id": "",
         "client secret": "",
         "username": "",
         "password": ""
      },
      "minecraft rcon": {
         "server name": {
            "address": "",
            "password": "",
            "managers": ["array of user snowflakes as integers"]
         }
      }
   }
}