git+https://github.com/Rapptz/discord.py@2e52059555141e796ca0d179323db0f2af7d0da6#egg=discord.py[voice]
aiofiles==0.6.0
aiocron==1.3
jishaku==2.2.0
asyncpraw==7.4.0
psutil==5.8.0
pillow==8.1.0
mcrcon==0.6.0
dill==0.3.3
lxml==4.6.3
motor==2.5.0
git+https://github.com/JustAnyones/bitly-api-python#egg=bitly-api
