git+https://github.com/Rapptz/discord.py@0bcb0d0e3ce395d42a5b1dae61b0090791ee018d#egg=discord.py[voice]
aiofiles==0.6.0
aiocron==1.3
git+https://github.com/Gorialis/jishaku@046189f53d0a04b7e27427b7c58bbcadf3f931ad#egg=jishaku
asyncpraw==7.5.0
psutil==5.8.0
pillow==9.0.1
mcrcon==0.6.0
dill==0.3.3
lxml==4.6.5
motor==2.5.0
emoji==1.6.3
git+https://github.com/JustAnyones/bitly-api-python#egg=bitly-api
dnspython==2.1.0
pytz==2021.3
httpx[http2]==0.22.0
