git+git://github.com/JustAnyones/discord.py@2a1deb76a8b237d7bf227a5955ea7db3148ee16c#egg=discord.py[voice]
aiocron==1.3
jishaku==2.2.0
asyncpraw==7.4.0
psutil==5.8.0
pillow==8.1.0
mcrcon==0.6.0
dill==0.3.3
lxml==4.6.3
motor==2.5.0
git+git://github.com/JustAnyones/bitly-api-python#egg=bitly-api
