name: Test the code

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./pidroid-bot
    steps:
    - uses: actions/checkout@v4
    
    - name: Install uv
      uses: astral-sh/setup-uv@v5

    - name: "Set up Python"
      uses: actions/setup-python@v5
      with:
        python-version-file: "pidroid-bot/pyproject.toml"

    - name: Install dependencies
      run: uv sync --locked

    - name: Run the testing and return the coverage report
      run: |
        uv run coverage run -m pytest src/tests/ && uv run coverage report -m
